<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <ul>
    <li>
      <button (click) = "last_week('n')" class="previous-previous" ><<</button>
    </li>
    <li>
      <button (click) = "yesterday('n')" class="previous" ><</button>
    </li>
    <li>
      {{n}}
    </li>
    <li>
      <button (click) = "tomorrow('n')" class="next">></button>
    </li>
    <li>
      <button (click) = "next_week('n')" class="next-next" >>></button>
    </li>
  </ul>
</body>
</html>